html, body{
  background-color: rgb(72, 87, 87);
}
img{
  width: 88%;
  height: 88%;
  padding: 50px;
}
.btn{
  color: chartreuse;
 padding-right: 10px;
  width: 50%;
  height: 30%;
  margin-left: 20%;
  padding: 10px;
  margin-top: 60px;
}
h1{
  color: chartreuse;
  padding: 5px;
  margin-left: 35%;
}
h2{
 
  color: rgb(201, 86, 4);
}
h3{
  color: chartreuse;
}
p{
  color: rgb(161, 240, 3);
  font-size:xx-large;
}
