html, body{
  background-color: rgb(72, 87, 87);
}
img{
  width: 88%;
  height: 88%;
  padding: 50px;
}
.btn{
  color: chartreuse;
 padding-right: 10px;
  width: 50%;
  height: 30%;
  margin-left: 20%;
  padding: 10px;
  margin-top: 60px;
}
h1{
  color: chartreuse;
  padding: 5px;
  margin-left: 35%;
}
h2{
 
  color: rgb(201, 86, 4);
}
h3{
  color: chartreuse;
}
h4{
  color:  #FFFF00;
  font-size: 60px;
  margin-left: 40%;
}
p{
  color: rgb(161, 240, 3);
  font-size:xx-large;
}
.bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #4ae806;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  padding-right: 10px;
  width: 50%;
  height: 30%;
  margin-left: 20%;
  padding: 10px;
  margin-top: 60px;
  
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #08e947;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0814f692;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;

  justify-content: flex-end;
  float: right;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn24 {
  background-image: linear-gradient(
      to right,
      #6253e1,
      #852d91,
      #a3a1ff,
      #f24645,
      #0a6d94,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #350f5f,
      #ff00c8,
      #ff0000
    );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.timer{
  width: 100%;
  height: 100vx;
  background-color: chocolate;
  display: flex;
  justify-content: center;
}
.container{
  padding-top: 100px;
}
.timer_container{
  background-color: #48ff00;
  width: 20vx;
  padding: 1rem 6rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem -0.7rem  rgb(34, 4, 203);
}
.btn {
  --color1: #1a8516;
  --color2: #083d8e;
  --color2: #109191;
  --color2: #09f120;
  perspective: 1000px;
  padding: 1em 1em;
  background: linear-gradient(var(--color1), var(--color2));
  border: none;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 0 10px 10px #000;
  cursor: pointer;
  transform: rotateX(70deg) rotateZ(30deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.btn::before {
  content: "";
  width: 100%;
  height: 15px;
  background-color: var(--color2);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotateX(90deg);
  transform-origin: bottom;
}

.btn::after {
  content: "";
  width: 15px;
  height: 100%;
  background-color: var(--color1);
  position: absolute;
  top: 0;
  right: 0;
  transform: rotateY(-90deg);
  transform-origin: right;
}

.btn:hover {
  transform: rotateX(30deg) rotateZ(0);
}

